@model Notas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Nota";
}

    @ViewData["Message"];
<h1>Nota</h1>

<main>
    <form class="row" role="form" enctype="multipart/form-data" asp-action="Detalhes" method="post">

        <input type="hidden" asp-for="Id" />

       

        <div class="col-5">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="numeroNF" class="control-label"></label>
                <input asp-for="numeroNF" class="form-control" />
                <span asp-validation-for="numeroNF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="serie" class="control-label"></label>
                <input asp-for="serie" class="form-control" />
                <span asp-validation-for="serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="incideBC" class="control-label"></label>
                <input asp-for="incideBC" class="form-control" />
                <span asp-validation-for="incideBC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataEmissao" class="control-label"></label>
                <input asp-for="dataEmissao" class="form-control" />
                <span asp-validation-for="dataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataPrestacao" class="control-label"></label>
                <input asp-for="dataPrestacao" class="form-control" />
                <span asp-validation-for="dataPrestacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diaVencimento" class="control-label"></label>
                <input asp-for="diaVencimento" class="form-control" />
                <span asp-validation-for="diaVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cfop" class="control-label"></label>
                <input asp-for="cfop" class="form-control" />
                <span asp-validation-for="cfop" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoUtilizacao" class="control-label"></label>
                <input asp-for="tipoUtilizacao" class="form-control" />
                <span asp-validation-for="tipoUtilizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="obs" class="control-label"></label>
                <textarea asp-for="obs" class="form-control" rows="5"></textarea>
                <span asp-validation-for="obs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nfInicial" class="control-label"></label>
                <input asp-for="nfInicial" class="form-control" />
                <span asp-validation-for="nfInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cancelado" class="control-label"></label>
                <input asp-for="cancelado" class="form-control" />
                <span asp-validation-for="cancelado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkPDF" class="control-label"></label>
                <input asp-for="linkPDF" class="form-control" />
                <span asp-validation-for="linkPDF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geraPDF" class="control-label"></label>
                <input asp-for="geraPDF" class="form-control" />
                <span asp-validation-for="geraPDF" class="text-danger"></span>
            </div>

            <footer class="form-group">
                <button class="btn btn-outline-success">GRAVAR</button>
                @*<button id="btnExcluir" class="btn btn-outline-danger">EXCLUIR</button>*@
            </footer>
        </div>

    </form>

</main>